body {
  background-color: rgb(255, 255, 255);
}

@media (max-width: 400px) {
  body {
    background-color:rgb(217, 186, 59);
  }
}

@media (min-width: 401px) and (max-width: 600px) {
  body {
    background-color:rgb(67, 130, 48);
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  body {
    background-color:rgb(49, 136, 173);
  }
}