* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(32, 199, 238);
  background: linear-gradient(90deg, rgba(32, 199, 238, 1) 0%, rgba(0, 0, 0, 1) 21%);
}

.menu{
  text-decoration: none;
  padding: 4px;
  display: block;
  margin: 0px auto;
  color: white;
  font-family: 'Orbitron', sans-serif;
}

p {
  margin-top: 5px;
}

article img {
  padding: 5px;
}


.header {
  background-color: black;
  background-image: url(../img/comp.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  box-shadow: 2px 2px 5px lightcyan;
  position: -webkit-sticky; 
    position: sticky;
    top: 0;
}

.logo {
  padding-top: 30px;
  display: block;
  margin: auto;
  width: 10%;
}

.name {
  text-align: center;
  color: white;
  font-family: 'Wallpoet', cursive;
}

.container {
  display: flex;
  margin-top: 30px;
  margin-right: 200px;
}

.navbar {
  padding: 50px;
  margin: 2px 400px auto 0;
  color: white;
}

.lista {
  list-style: none;
  text-decoration: none;
  padding: 20px;
}

.content {
  width: 70%;
  padding: 40px;
  color: white;
  margin: 30px 0px 50px;
  border-radius: 100px 5px 100px 5px;
  font-family: 'Raleway', sans-serif;
  box-shadow: 5px 5px 20px lightcyan;
  background-image: url(../img/back.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img-circle {
  width: 50px;
  filter: invert(100%);
  
}


.img-links {
  text-decoration: none;
  
}



.instagram{
  margin: 0 10px;
}
 
.logo2{
  width: 60px;
    margin-left: 515px;
    margin-bottom: -7px;
}

footer {
  text-align: center;
  background-image: url(../img/back.png);
  color: rgba(255, 255, 255, 0.671);
  padding:10px;
  margin-top: 113px;
}
