* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: black;
}

.container {
  display: flex;
  justify-content: space-around;

  .box {
    width: 30%;
    color: black;
    background-color: white;
    border-radius: 8px;
    padding: 20px;

    &.active {
      background: blue;
    }

    h2 {
      font-size: 22px;
      margin: 10px 20px 30px 20px;
    }

    p {
      font-size: 18px;

      &.hidden {
        display: none;
      }
    }

    a {
      color: rgb(142, 136, 136);

      &:hover {
        color: purple;

        & + p.hidden {
          display: block;
        }
      }
    }

  }

}