.exemplo {
  border: 1px solid black;
  padding: 10px;
  margin: 30px;
}

.exemplo1 p.vermelho {
  color: red;
}

.margin {
  margin: 70px;
}

h1,
h2,
h3 {
  color: blue;
}

/* Aplicando regra somente nos elementos  filhos diretos */
.exemplo2>p {
  color: green;
}

/*Aplica a regra ao primeiro elemento  irmão direto */
.exemplo3+p {
  color: green;
}

/*Aplica a regra a todos elementos irmãos diretos */
.exemplo4~p {
  color: blue;
}